/* Seite */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    /* margin: 0; */
    padding: 0;
    /* overflow: hidden; */
}

.georg-body {
    /* display: flex; */
    background: #FEFAFF;
    /* align-items: space-between; */

    /* width: 100vw; */
}

.georg-hero {
    height: 100vh;
    padding: 44px 44px;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* gap: 48px; */
    /* align-items: stretch; */
    /* width: 100vw;       */
}

                /* menu */                 
                .georg-menu {
                    /* display: block;
                    position: fixed;
                    top: 50px;
                    left: 44px; */
                    z-index: 0;
                    display: flex;
                    padding: 0px 0px;
                    justify-content: space-between;
                    align-items: baseline;
                }

                .menu-text {
                    display: flex;
                    align-items: flex-start;
                    gap: 36px;
                }


.welcome-box {
    display: flex;
    /* flex-wrap: nowrap; */
    flex-direction: column;
    /* justify-content: stretch; */
    align-items: center;
    /* justify-content: space-between; */
    /* flex-grow: 1; */
    justify-content: center;
    gap: var(--V-xxl-padding);
    height: 100%;
}

.welcome-content {
    display: flex;
    align-items: center;
    width: 60%;

}

.welcome-content-left {
    display: flex;
    flex-direction: column;
    gap: var(--V-m-padding);
}

.avatare {
    width:290px;
    height: 516px;
    mix-blend-mode: multiply;
}

.section-white {
    background: var(--white);
    height: 100vh;
    padding: 44px 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-pink {
    background: var(--p-subtle);
    height: 100vh;
    padding: 44px 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}




.section-content {
    display: flex;
    align-items: center;   
    width: 75%;
    gap: var(--H-xl-padding);
}

.section-left {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: var(--V-m-padding, 20px);
}

.section-right {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: var(--V-m-padding, 20px);
}

.quadrat-image {
    width: 650px;
    
}

/* Styles */


h1 {
    font-family: "change", serif;
    font-size: 49px;
    font-style: italic;
    font-weight: 400;
    line-height: 120%; /* 58.8px */
    color: var(--p-text, #392040);
}

h2 {
    font-family: "change", serif;
    font-size: 39px;
    font-style: italic;
    font-weight: 400;
    line-height: 130%; /* 50.7px */
    color: var(--p-text, #392040);
}

h3 {
    font-family: Change;
    font-size: 31px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 40.3px */
    color: var(--p-text, #392040);
}

h4 {
    font-family: "jaf-cupidus-text", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 32.5px */
    color: var(--p-text, #392040);
}

p {
    font-family: "jaf-cupidus-text", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    color: var(--p-text, #392040);
}

.button-text {
    font-family: "jaf-cupidus-text", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    color: var(--p-text-light, #FFFCFE);
}

.caption {
    font-family: Cupidus;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.64px;
    text-transform: uppercase;
    color: var(--Greyscale-Text-Subtitle, #746168);
    
}

/* Variables */

:root {
/*primary colors*/
--p-default: #C7366B;
--p-subtle: #FEFAFF;
--p-supersubtle: #FFFCFE;
--p-hover: #A22653;
--p-text: #392040;
--p-text-light: #FFFCFE; 
--white: #ffffff;


/* greyscales */

--g-border-default: #D9D3D6;
--g-greyscale-text-subtitle: #746168;



/* Tokens */

--s-radius: 8px;
--m-radius: 24px;

--s-spacing: 8px;
--m-spacing: 16px;
--l-spacing: 24px;

--H-s-padding: 16px;
--H-m-padding: 24px;
--H-l-padding: 40px;
--H-xl-padding: 56px;
--H-xxl-padding: 72px;

--V-s-padding: 12px;
--V-m-padding: 20px;
--V-l-padding: 32px;
--V-xl-padding: 56px;
--V-xxl-padding: 72px;
}


/* Components */

button {
    height: var(--V-xl-padding, 52px);
    padding: var(--V-s-padding, 12px) var(--H-s-padding, 16px);
    align-items: center;
    gap: var(--s-spacing, 8px);
    flex-shrink: 0;
    /* align-self: flex-start; */
    border-radius: var(--s-radius, 8px);
    background: var(--p-default, #C7366B);
    border: none;
    outline: var(--p-default, #C7366B); /* Remove outline */
    cursor: pointer; /* Pointer cursor on hover */
    color: var(--p-supersubtle, #FFFCFE);
    /* Elevations/XS */
    box-shadow: 0px 2px 4px 0px rgba(73, 61, 66, 0.16);

    /* display: flex;
    padding: 4px 14px 6px 12px;
    align-items: flex-start;
    gap: 4px;
    border-radius: 2px;
    border: 1px solid #C8B8CC;
    background: #FEFAFF;
    box-shadow: -4px -4px 0px 0px rgba(0, 0, 0, 0.13) inset;
 */
   
}

button:hover {
    background-color: var(--p-hover);
}

/* Radio Button Function */

.image-selector {
    display: flex;
    flex-wrap: wrap;
    gap: var(--V-Padding, 12px);
    
}

/* .image-selector label {
    cursor: pointer;
    display: flex;
    width: 50%;
    padding: 20px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--V-s-Padding, 12px);
    

    border-radius: 12px;
    border: 1px solid var(--Greyscale-Border-Default, #D9D3D6);
    background: var(--Greyscale-Surface-Very-Subtle, #FFF);

    box-shadow: 0px 2px 4px 0px rgba(73, 61, 66, 0.16);
} */

.image-selector input[type="radio"] {
    cursor: pointer;
}


/* Radio Button Layout & Style */

/* The container */
.container {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 45%;
    padding: 20px 24px;
    gap: var(--V-s-Padding, 12px);   
    border-radius: 12px;
    border: 1px solid var(--Greyscale-Border-Default, #D9D3D6);
    background: var(--Greyscale-Surface-Very-Subtle, #FFF);
    box-shadow: 0px 2px 4px 0px rgba(73, 61, 66, 0.16);
	background-color: #ffff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.container:hover {
  border: 1px solid var(--p-subtle, #F5D5E1);
  background: var(--p-supersubtle, #FFFCFE);
}

/* Ensure checked state styles are applied */
.container input:checked {
    border: 2px solid var(--p-default, #C7366B);
    background: var(--p-supersubtle);
  }

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;

}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: var(--p-subtle, #F5D5E1);
  border: 1px solid var(--p-subtle, #F5D5E1);
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  border: 0px solid var(--Surface-Default, #C7366B);
  background-color: #C7366B;

}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 20px;
  right: 24px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  box-shadow: 1px 2px 4px 0px rgba(116, 97, 104, 0.20) inset;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 4px;
	left: 4px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

